.drop-zone {
  max-width: auto;
  height: auto;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: #cccccc;
  border: 2px dashed #cecece;
  border-radius: 10px;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #000000;
  background: rgba(255, 255, 255, 0.75);
  font-size: 14px;
  text-align: center;
}

